<h1>Main Demo Page</h1>
<%= link_to 'Hello Page 2', {:action => 'hello'} %>
<br />

<%= link_to 'Hello with params', {:action => 'hello', :page => 5, :id => 20} %>

<br />
<%= link_to 'All Subjects', subjects_path %>