<h1>Main Demo Page</h1>

<h2>Subjects</h2>
<% @subjects.each do |subject| %>
    <%= link_to subject.name , subject_path(subject) %><br />
<% end %>
<h2>All Subjects</h2>
<%= link_to 'All Subjects', subjects_path %>